.hero {
    background: linear-gradient(160deg, #246655, #3ecedd, #a43edd);
    background-size: 600% 600%;
    height: 600px;

    -webkit-animation: gradient 10s ease infinite;
    -moz-animation: gradient 10s ease infinite;
    animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@keyframes gradient {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}

.contact-heading {
    font-size: 2.25rem;
    line-height: 2rem;
}

@media (min-width: 992px){
    .contact-heading {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

.divider-custom-white {
    margin: 1.25rem 0 1.0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.divider-custom-white .divider-custom-white-line {
    width: 100%;
    max-width: 7rem;
    height: .25rem;
    background-color: white;
    border-radius: 1rem;
    border-color: white !important
}

.divider-custom-white .divider-custom-white-line:first-child {
    margin-right: 1rem
}

.divider-custom-white .divider-custom-white-line:last-child {
    margin-left: 1rem
}

.divider-custom-white .divider-custom-white-icon {
    color: white !important;
    font-size: 2rem
}

.divider-custom-white.divider-light .divider-custom-white-line {
    background-color: #fff
}

.divider-custom-white.divider-light .divider-custom-white-icon {
    color: #fff !important
}