.divider-custom {
    margin: 1.25rem 0 1.0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212529;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: .25rem;
    background-color: #212529;
    border-radius: 1rem;
    border-color: #212529 !important
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem
}

.divider-custom .divider-custom-icon {
    color: #212529 !important;
    font-size: 2rem
}

.divider-custom.divider-light .divider-custom-line {
    background-color: #212529
}

.divider-custom.divider-light .divider-custom-icon {
    color: #212529 !important
}